In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
import scipy.stats as stats
liga= pd.read_csv("Lligues europees UEFA.csv", encoding="ansi", sep=";", engine="python")
liga

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,85,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,...,77,2.26,88.1,37.1,51.0,1.50,W W L D D,33176,Robert Lewandowski - 35,Manuel Neuer
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,...,83,2.24,71.6,38.1,33.4,0.90,W D D D W,41188,Kylian Mbappé - 25,Keylor Navas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,94,Bordeaux,FRA,20,37,5,13,19,48,89,...,28,0.76,41.3,68.5,-27.2,-0.73,D L L L D,22083,Hwang Ui-jo - 11,Benoît Costil
94,95,Venezia,ITA,20,37,6,8,23,34,69,...,26,0.70,35.4,70.5,-35.1,-0.95,L L L W D,6705,Thomas Henry - 9,Sergio Romero
95,96,Watford,ENG,19,37,6,5,26,33,75,...,23,0.62,37.8,64.1,-26.3,-0.71,L L L D L,20614,Emmanuel Dennis - 10,Ben Foster
96,97,Norwich City,ENG,20,37,5,7,25,23,79,...,22,0.59,33.0,73.3,-40.4,-1.09,L L L L D,26826,Teemu Pukki - 11,Tim Krul
97,98,Greuther Fürth,GER,18,34,3,9,22,28,82,...,18,0.53,30.7,60.3,-29.6,-0.87,D L D L L,7672,Branimir Hrgota - 9,Sascha Burchert

In [2]:
liga.describe() #descriu el dataframe

,Rk,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,49.500000,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,28.434134,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,25.250000,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,49.500000,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,73.750000,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,98.000000,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

In [3]:
liga.columns  # em mostra les columnes que té el dataset

Index(['Rk', 'Squad', 'Country', 'LgRk', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD',
       'Pts', 'Pts/G', 'xG', 'xGA', 'xGD', 'xGD/90', 'Last 5', 'Attendance',
       'Top Team Scorer', 'Goalkeeper'],
      dtype='object')

In [4]:
liga.info() # em dona informacio del tipus de dades del dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               98 non-null     int64
 1   Squad            98 non-null     object
 2   Country          98 non-null     object
 3   LgRk             98 non-null     int64
 4   MP               98 non-null     int64
 5   W                98 non-null     int64
 6   D                98 non-null     int64
 7   L                98 non-null     int64
 8   GF               98 non-null     int64
 9   GA               98 non-null     int64
 10  GD               98 non-null     int64
 11  Pts              98 non-null     int64
 12  Pts/G            98 non-null     float64
 13  xG               98 non-null     float64
 14  xGA              98 non-null     float64
 15  xGD              98 non-null     float64
 16  xGD/90           98 non-null     float64
 17  Last 5           98 non-null     object
 18  Attendance       98 non-null     int64
 19  Top Team Scorer  98 non-null     object
 20  Goalkeeper       98 non-null     object
dtypes: float64(5), int64(11), object(5)
memory usage: 16.2+ KB

In [4]:
liga.shape #em diu les files i les colomnes

(98, 21)

In [5]:
liga.isna().sum().sort_values() #miro si hi ha valors nuls al dataset

Rk                 0
Attendance         0
Last 5             0
xGD/90             0
xGD                0
xGA                0
xG                 0
Pts/G              0
Pts                0
Top Team Scorer    0
GD                 0
GF                 0
L                  0
D                  0
W                  0
MP                 0
LgRk               0
Country            0
Squad              0
GA                 0
Goalkeeper         0
dtype: int64

In [7]:

import random                                                # Ex 1 ok
from scipy.stats import ttest_ind

v1 = random.sample(liga["xG"].tolist(), 50)
v2 = random.sample(liga["xG"].tolist(), 50)

res = ttest_ind(v1, v2).pvalue

print(res)
# no rebutja la hipotesi nula  a la columna expected goals["xG"] pq el p-valor és més gran que  0.05( alfa)

0.5982167889195409

In [8]:
import random                                 # ex2  primer intent... però.. He fet un segón intent ¿¿??
from scipy.stats import ttest_ind

v11 = random.sample(liga["MP"].tolist(), 50)
v12 = random.sample(liga["MP"].tolist(), 50)

res1 = ttest_ind(v11, v12).pvalue

print(res1)

v21 = random.sample(liga["W"].tolist(), 50)
v22 = random.sample(liga["W"].tolist(), 50)

res2 = ttest_ind(v21, v22).pvalue

print(res2)

0.6215807510685569
0.38346153880519807

In [7]:
                     ###     exercici 2 segón intent """    
                                #proba T de  dos mostres
    
    
col7 = liga["xGD"].tolist()   #"xGD"= vol dir diferencia de gols esperats
liga["xGD"].mean()            # mitjana dde la columna "xGD"
col8 = liga["xGD/90"].tolist()   #"xGD"= vol dir diferencia de gols esperats en  90 minuts de partit

liga["xGD/90"].mean()            # mitjana de la columna "xGD/90"

                                ###      exercici 2 """ proba T de  dos mostres


col7 = liga["xGD"].values.tolist()        ## mostres Atribut
col8 = liga["xGD/90"].values.tolist()      # mostres  Atribut
stats.ttest_ind(col7, col8, equal_var=True)     # mira si la variança  es igual o <4

Ttest_indResult(statistic=-0.0029799338370167794, pvalue=0.9976254223180079)

In [8]:
#trobar variança para cada grup
print(np.var(col7), np.var(col8))

395.62170866305706 0.3009552790503957

In [9]:
relacio_entre_variances= print(np.var(col8)/ np.var(col7))  # como la varianÇa de població 
                                                             #és méss petita que 4 se considera igual

0.0007607147748980407

In [10]:
#faig la prueba t de dos m0stres amb variances iguals:


stats.ttest_ind(a=col7, b=col8, equal_var=True)

Ttest_indResult(statistic=-0.0029799338370167794, pvalue=0.9976254223180079)

In [ ]:
#H 0 :  µ 1 = µ 2 (las mitjanes de las dos poblacions son iguals)

#H A :  µ 1 ≠µ 2  (la mitjanes  de las dos poblacions  no  son iguales)

# Com  que el valor p de la proba  (pvalue=0.9976254223180079) 
# és major que alfa = 0,05, no podem rebutjar la hipótesis nula de la proba.
# NO tenim evidencia suficient per dir que la diferencia de gols esperats es diferent 
# a la diferència de gols esperats en 90 minuts ( és a dir que No són coses diferents) .   # fins aqui exercici 2

In [3]:

#EX3 Anova

grouped_test2=liga[['Country','GF','Attendance']].groupby(['Country'])
grouped_test2.head(3)                                                   # relaciono tres atributs faig un anova
liga.head()
grouped_test2.get_group('ESP')['GF']

2     80
9     68
16    63
18    52
20    62
26    39
35    61
37    43
50    37
52    43
59    46
64    37
66    40
68    32
69    37
73    44
75    34
78    34
85    47
87    31
Name: GF, dtype: int64

In [6]:
f_val, p_val = stats.f_oneway(grouped_test2.get_group('ESP')['GF'], grouped_test2.get_group('ITA')['GF'], grouped_test2.get_group('GER')['GF'])  
 
print( "Resultats ANOVA: F=", f_val, ", P =", p_val)       # té un valor p 0.36534163001762715 i F  1.0255838721873378
                                         # no es molt gran per tant  puc dir que els grups estan correlacionats però potser
                                         #usant altres atributs podríem trobar una
                                         #correelació més forta

Resultats ANOVA: F= 1.0255838721873378 , P = 0.36534163001762715